:root{
    --c-main:rgb(20, 33, 62);
    --c-second:#E5E5E5;
    --c-accen: #FCA311;
}

.txtMain{
    color: var(--c-main);
  }
  .txtAccent{
    color: var(--c-accen);
  }
  .txtSecond{
    color: var(--c-second);
  }
  .bgMain{
    background-color: var(--c-main);
  }
  .bgAccent{
    background-color: var(--c-accen);
  }
  .bgSecond{
    background-color: var(--c-second);
  }
  .allArticles{
    margin-top: 300px;
  }
  .btn-addArt {
    margin-top: 10px;
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid rgb(20, 33, 62);
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    color: rgb(20, 33, 62);;
    z-index: 1;
   }
   
   .btn-addArt:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .btn-addArt:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color:    #FCA311;
;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .btn-addArt:hover {
    color: #ffffff;
    border: 1px solid     #FCA311;
;
   }
   
   .btn-addArt:hover:before {
    top: -35%;
    background-color:    #FCA311;
;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .btn-addArt:hover:after {
    top: -45%;
    background-color:     #FCA311;
;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }


